name: Deploy to Nginx Server

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'

    - name: Install dependencies
      run: npm install
      working-directory: frontend  # Adjust if your app's path is different

    - name: Build the app
      run: |
        CI=false npm run build
      working-directory: frontend  # Adjust if your app's path is different

    - name: Upload build files to the server
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        mkdir -p ~/.ssh
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/deploy_key
        chmod 600 ~/.ssh/deploy_key
        ssh-keyscan -H 172.31.90.244 >> ~/.ssh/known_hosts
        rsync -avz -e "ssh -i ~/.ssh/deploy_key" frontend/build/ ubuntu@172.31.90.244:/var/www/index
