name: Deploy to Nginx Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Node.js (if using Node.js app)
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'

      - name: Build Project
        run: |
          npm install
          CI=false npm run build
        working-directory: frontend
        
      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
  
      - name: Deploy to Server
        env:
          SERVER_IP: ${{ secrets.SSH_HOST }}
          SERVER_USER: ${{ secrets.SSH_USER }}
        run: |
          # Transfer build files to server
          rsync -avz --delete-after \
            -e "ssh -o StrictHostKeyChecking=no" \
            ./build/ $SERVER_USER@$SERVER_IP:/var/www/html/project # Adjust the path as needed
          
          # Restart Nginx (or any other required services)
          ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP << EOF
            sudo systemctl restart nginx
          EOF
