name: Deploy to Nginx Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Node.js (if using Node.js app)
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'

      - name: Build Project
        run: |
          npm install
          CI=false npm run build
        working-directory: frontend
        
      - name: Upload Build Artifacts
        run: |
          zip -r build.zip ./build

      - name: Copy Files via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 52.91.79.55
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "build.zip"
          target: "~/project/"

      - name: SSH to Server and Deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 52.91.79.55
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            unzip -o ~/project/build.zip -d /var/www/html/project
            rm ~/project/build.zip
            sudo systemctl restart nginx
